@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: white;
}

.ShowCollapsedSectionButton {
    width: fit-content;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 2px 5px 0 rgb(59 65 94 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);
    padding: 4px 12px;
    font-size: 12px;
    line-height: 18px;
    color: #556cd6;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    user-select: none;
}

.ShowChildAttributesButton {
    width: fit-content;
    background: #fff;
    border-radius: 24px;
    border: 1px dashed #A3ACB9;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 18px;
    color: #A3ACB9;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    user-select: none;
}

.method-list-title {
    color: #2a2f45;
    margin-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e3e8ee;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.monaco-ide {
    padding: 20px;
}

.endpoint-url {
    color: #697386;
    font-size: 13px;
    font-family: Menlo, Consolas, monospace;
}

.endpoint-url:hover {
    color: #3C4257;
    font-size: 13px;
    font-family: Menlo, Consolas, monospace;
    cursor: pointer;
}

.syntax-highlighter::-webkit-scrollbar {
    height: 15px;
}

.syntax-highlighter::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

.syntax-highlighter::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #3C4257;
    border: solid 4px transparent;
    border-radius: 30px;
}

.syntax-highlighter-hidden-scroll::-webkit-scrollbar {
    height: 15px;
    display: none;
}

.syntax-highlighter-hidden-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

.syntax-highlighter-hidden-scroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #3C4257;
    border: solid 4px transparent;
    border-radius: 30px;
}

.collapsible-content-edonec {
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.json-number {
    color: #067AB8;
}

.json-key {
    color: #697386;
}

.json-string {
    color: #09825D;
}

.json-boolean {
    color: #067AB8;
    font-weight: bold;
}

.json-null {
    color: #8792A2;
}

.hover-pointer {
    cursor: auto;
}

.hover-pointer:hover {
    cursor: pointer;
}
